body {
    overflow: auto !important;
}

p {
    font-size: 12px;
}

li {
    font-size: 14px;
}

.mainLegalContent_container {
    display: flex;
}

.legalContent_container {
    display: flex;
    flex-direction: column;
    margin-left: 232px;
    width: 100%;
}

.content-header {
    margin: 0 !important;
}

h1 {
    margin: 0;
}

.imprint-title {
    font-size: 28px;
}

.legalNoticeHeader {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.backwardsArrow {
    height: 37px;
    width: 37px;
}

.backwardsArrow:hover {
    cursor: pointer;
}

.legalAndHelp_container {
    margin: 100px;
}

@media (max-width: 1200px) {

    .nav-left {
        display: none;
    }

    .content-header {
        display: none;
    }

    .content-header-mobile {
        display: flex !important;
        margin-left: 0 !important;
        width: 100%;
    }

    .navbar-mobile-bottom {
        position: absolute;
        display: flex !important;
    }

    .mainLegalContent_container {
        flex-direction: column;
        position: relative;
        height: 100vh;
    }

    .legalAndHelp_container {
        margin: 20px 20px 110px 20px;
        height: 100%;
    }

    .legalContent_container {
        text-wrap: wrap;
        margin-left: 0px;
        position: relative;
    }

    .imprint-title {
        font-size: 14px;
    }

    h1 {
        font-size: 16px;
    }

    h2 {
        font-size: 12px;
    }

    h3 {
        font-size: 10px;
    }

    p {
        margin: 0;
    }

    h4 {
        font-size: 10px;
        margin: 1px;
    }

    ul {
        padding: 20px;
    }

    li {
        font-size: 12px;
    }

}